html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#parallax {
	/* The image used */
	background-image: url("../assets/skydive.JPG");

	/* Set a specific height */
	height: 1000px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#page {
	/* position: relative; */
	background-color: red;
	font-size: 20px;
	height: 100%;
}

.cloud {
	height: 100%;
	filter: brightness(120%);
	filter: opacity(60%);
	/* position: absolute; */
	background-image: url("../assets/cloud.png");
	background-size: cover;
	animation: animate 80s linear infinite;
	-ms-animation: animate 80s linear infinite;
	-moz-animation: animate 80s linear infinite;
	-webkit-animation: animate 80s linear infinite;
}

@keyframes animate {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 5472px 0px;
	} /* set this to the height of the image */
}
@-webkit-keyframes animate {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 5472px 0px;
	} /* set this to the height of the image */
}
@-ms-keyframes animate {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 5472px 0px;
	} /* set this to the height of the image */
}
@-moz-keyframes animate {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 5472px 0px;
	} /* set this to the height of the image */
}
