<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<!-- full version of jquery from google -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
		<!-- jquery plugin -->
		<script src="jquery.color.min.js"></script>
		<!--anime.js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		<!-- Included fontawesome -->
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
			integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
			crossorigin="anonymous"
		/>
		<!-- icon for all platforms -->
		<link rel="apple-touch-icon" sizes="57x57" href="../assets/icon/apple-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="../assets/icon/apple-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="../assets/icon/apple-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="../assets/icon/apple-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="../assets/icon/apple-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="../assets/icon/apple-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="../assets/icon/apple-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="../assets/icon/apple-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="../assets/icon/apple-icon-180x180.png" />
		<link rel="icon" type="image/png" sizes="192x192" href="../assets/icon/android-icon-192x192.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="../assets/icon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="../assets/icon/favicon-96x96.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="../assets/icon/favicon-16x16.png" />
		<link rel="manifest" href="../assets/icon/manifest.json" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="../assets/icon/ms-icon-144x144.png" />
		<meta name="theme-color" content="#ffffff" />

		<link href="https://fonts.googleapis.com/css?family=Poiret+One|Arsenal|Bungee+Shade|Exo|Halant|Orbitron&display=swap" rel="stylesheet" />
		<!-- icon on browser tab -->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href="home.css" />
		<link rel="stylesheet" type="text/css" media="screen and (max-width: 768px)" href="homeMobile.css" />
		<script src="home.js" type="text/javascript"></script>

		<title>Henry</title>
	</head>

	<body onresize="resizeFirstPage()">
		<!-- first nav bar -->
		<nav id="oriNav" class="navbar navbar-default navbar-expand-lg sticky-top">
			<!-- logo is here -->
			<a class="navbar-brand scrollHome" href="#title"><img class=" logo" src="../assets/logo3.png"/></a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarText"
				aria-controls="navbarText"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span id="circle" class="fas fa-plus-circle"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class=" nav-link navfont scrollHome" href="#title"
							>Home <span class="sr-only">(current)</span></a
						>
					</li>
					<li class="nav-item">
						<a class=" nav-link scroll navfont" href="#about"> <i class=" fas fa-user"></i> About</a>
					</li>
					<li class="nav-item">
						<a class=" nav-link scroll navfont" href="#skill"> <i class="fas fa-wrench"> </i> Skills</a>
					</li>
					<li class="nav-item">
						<a class=" nav-link scroll navfont" href="#portfolio">
							<i class="fas fa-list-alt"> </i> Projects</a
						>
					</li>
					<li class="nav-item">
						<a class=" nav-link scroll navfont" href="#contact"><i class=" fas fa-envelope"></i> Contact</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- Created a second nav bar for the color changing effect -->
		<!-- second nav bar -->
		<nav id="scrollNav" class="navbar navbar-default navbar-expand-lg sticky-top">
			<!-- logo is here -->
			<a class="navbar-brand scrollHome" href="#title"><img class="logo" src="../assets/logo3.png"/></a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarText2"
				aria-controls="navbarText2"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span id="circle2" class="fas fa-plus-circle"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText2">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link navfont scrollHome" href="#title"
							>Home <span class="sr-only">(current)</span></a
						>
					</li>
					<li class="nav-item">
						<a class=" nav-link scroll navfont" href="#about"> <i class=" fas fa-user"></i> About</a>
					</li>
					<li class="nav-item">
						<a class=" nav-link scroll navfont" href="#skill"> <i class="fas fa-wrench"> </i> Skills</a>
					</li>
					<li class="nav-item">
						<a class=" nav-link scroll navfont" href="#portfolio">
							<i class="fas fa-list-alt"> </i> Projects</a
						>
					</li>
					<li class="nav-item">
						<a class=" nav-link scroll navfont" href="#contact"><i class=" fas fa-envelope"></i> Contact</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- The first parallax page with the typing animation text -->
		<div class="desktop" id="firstparallax" >
			<div id="title" >
				<h1 id="titleHeader">
					Hi, I am
					<span
						id="animatedText"
						class="txt-rotate"
						data-period="2000"
						data-rotate='[ "Henry.", "a Purdue student.", "a Software Engineer.", "a Web Developer.", "an Adventurer!"]'
					></span>
				</h1>
			</div>
			<div id="cloud1"><div id="cloud_1"></div></div>
		</div>

		<div class="mobile" id="firstparallax">
			<div id="title">
				<h1 id="titleHeader">
					Hi, I am <br />
					<span
						id="animatedText"
						class="txt-rotate"
						data-period="2000"
						data-rotate='[ "Henry.", "a Purdue student.", "a Software Engineer.", "a Web Developer.", "an Adventurer!"]'
					></span>
				</h1>
			</div>
			<div id="cloud1">
				<div id="cloud_1"></div>
			</div>
		</div>

		<!-- About page -->		
		<div id="about" class="desktop" >
			<div id="page" >
				<!--DESKTOP-->
				<div id="aboutContentBox" >
					<h1 id="aboutTitle">About me</h1>
					<div class="imgcropper">
						<img id="profilepic" src="../assets/croppedpic.jpeg" />
					</div>
					<div id="aboutContent" style="line-height: 1em">
						<p style="text-indent: 50px;">
							My name is <b>Henry</b>, I am a Computer Science student in Software Engineering track
							graduated from <b>Purdue University</b> in May 2019.
						</p>
						<p style="text-indent: 50px;">
							I have been coding for around 4 years now and I started to get involved in
							<b>Web development</b> about 2 years ago.
						</p>
						<p style="text-indent: 50px;">
							I was an <b>undergraduate research assistant</b> in Purdue University, being assigned to the
							app development team focusing on the implementation of Crack Inspection on buildings using
							<b>Augmented Reality</b> devices such as Microsoft Hololens.
						</p>
						<p style="text-indent: 50px;">
							Computer Science is a rapidly evolving field and I am excited for any new technology that is
							going to show up in the future. I am currently seeking for more opportunities in the
							professional fields to widen and sharpen my skills.
						</p>
					</div>
				</div>				
			</div>
		</div>

		<div id="about" class="mobile">
			<div id="page">			
				<!--MOBILE-->
				<div id="aboutContentBox">
						<h1 id="aboutTitle">About me</h1>
						<div class="imgcropper">
							<img id="profilepic" src="../assets/croppedpic.jpeg" />
						</div>
						<div id="aboutContent">
							<p style="text-indent: 50px;">
								My name is <b>Henry</b>, I am a Computer Science student in Software Engineering track
								graduated from <b>Purdue University</b> in May 2019.
							</p>
							<p style="text-indent: 50px;">
								I have been coding for around 4 years now and I started to get involved in
								<b>Web development</b> about 2 years ago.
							</p>
							<p style="text-indent: 50px;">
								I was an <b>undergraduate research assistant</b> in Purdue University, being assigned to the
								app development team focusing on the implementation of Crack Inspection on buildings using
								<b>Augmented Reality</b> devices such as Microsoft Hololens.
							</p>
							<p style="text-indent: 50px;">
								Computer Science is a rapidly evolving field and I am excited for any new technology that is
								going to show up in the future. I am currently seeking for more opportunities in the
								professional fields to widen and sharpen my skills.
							</p>
						</div>
					</div>
			</div>
		</div>
		

		<!-- Second Parallax with cloud animation-->
		<div class="desktop" id="secondparallax" style="text-align:center;">
			<div id="title2">
				<div>
					<!--<div id="cloud2" style="border: yellow 2px solid"></div>-->
					<h1 id="title2Header">
						Fun facts: I
						<span
							id="animatedText"
							class="txt-rotate"
							data-period="2000"
							data-rotate='[ "play guitar.", "dance.", "am trilingual."]'
						></span>
					</h1>
				</div>
			</div>
		</div>

		<div class="mobile" id="secondparallax" style="text-align:center;">
			<div id="title2">
				<div>
					<!--<div id="cloud2" style="border: yellow 2px solid"></div>-->
					<h1 id="title2Header">
						Fun facts: <br />
						<span
							id="animatedText"
							class="txt-rotate"
							data-period="2000"
							data-rotate='[ "I play guitar.", "I dance.", "I am trilingual."]'
						></span>
					</h1>
				</div>
			</div>
		</div>

		<!-- Skill page -->
		<div id="skill">
			<div id="page2">
				<div class="container" >
					<h1 id="skillTitle">Skills</h1>
					<div class="card-deck" style="justify-content:center">
						<div class="card " style="max-width: 530px">
							<div class="row no-gutters">
								<div class="col-md-6">
									<picture>
										<source media="(min-width: 768px)" srcset="../assets/skillsvertical.jpg" />
										<source media="(min-width: 320px)" srcset="../assets/skillshorizontal.jpg" />
										<img class="card-img" src="../assets/skillsvertical.jpg" style="height:100%" />
									</picture>
									<!--<img src="../assets/cropped.jpg" class="card-img" alt="..." style="height:100%" />-->
								</div>							
								<!--DESKTOP-->
								<div class="desktop col-md-6">
									<div class="card-body">
										<h5 class="card-title" style="font-size:30px;"><b>Programming Languages</b></h5>
										<p class="card-font card-text" style="font-size: 21px">
											Java <br />
											C <br />
											C# <br />
											HTML <br />
											CSS <br />
											Javascript <br />
											SQL <br />
											JQuery <br />
											Python <br />
											TypeScript <br />
											PL/SQL
										</p>
									</div>
								</div>
								<!--MOBILE-->
								<div class="mobile col-md-6">
									<div class="card-body" style="text-align: center">
										<h5 class="card-title"><b style="font-size:20px; font-family: 'Exo', sans-serif;">Programming Languages</b></h5>
										<p class="card-text" style="font-size: 1px;">										
											<div class="row">
												<div class="col card-font">	
													Java <br />
													C <br />
													C# <br />
													HTML <br />
													CSS <br />
													Javascript <br />
												</div>
												<div class="col card-font">													
													SQL <br />
													JQuery <br />
													Python <br />
													TypeScript <br />
													PL/SQL
												</div>
											</div>																													
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="card " style="max-width: 530px;">
							<div class="row no-gutters">
								<div class="col-md-6">
									<picture>
										<source media="(min-width: 768px)" srcset="../assets/toolsvertical.png" />
										<source media="(min-width: 320px)" srcset="../assets/toolshorizontal.png" />
										<img class="card-img" src="../assets/toolsvertical.png" style="height:100%" />
									</picture>
								</div>
								<!-- DESKTOP -->
								<div class="desktop col-md-6">
									<div class="card-body">
										<h5 class="card-title"><b style="font-size:28px">Software Tools</b></h5>
										<p class="card-font2 card-text">
											React <br />
											Unity <br />
											Vuforia <br />
											Github<br />
											GitKraken <br />
											Vue.js <br />
											Ionic <br />
											AWS <br />
											Microsoft Azure <br />
											Digital Ocean <br />
											Android Studio <br />
											Steam VR <br />
											Oculus
										</p>
									</div>
								</div>
								<!-- MOBILE -->
								<div class="mobile col-md-6" style="text-align: center">
										<div class="card-body" >
											<h5 class="card-title"><b style="font-size:28px;">Software Tools</b></h5>
											<p class="card-text">
												<div class="row">
													<div class="col card-font2">	
														React <br />
														Unity <br />
														Vuforia <br />
														Github<br />
														GitKraken <br />
														Vue.js <br />
														Ionic <br />
													</div>											
													<div class="col card-font2">	
														AWS <br />
														Microsoft Azure <br />
														Digital Ocean <br />
														Android Studio <br />
														Steam VR <br />
														Oculus
													</div>
												</div>
											</p>
										</div>
									</div>
							</div>
						</div>
						<div class="card " style="max-width: 530px;">
							<div class="row no-gutters">
								<div class="col-md-6">
									<picture>
										<source media="(min-width: 768px)" srcset="../assets/othersvertical.jpg" />
										<source media="(min-width: 320px)" srcset="../assets/othershorizontal.jpg" />
										<img class="card-img" src="../assets/othersvertical.jpg" style="height:100%" />
									</picture>
								</div>
								<!--DESKTOP-->
								<div class="desktop col-md-6">
										<div class="card-body">
											<h5 class="card-title"><b style="font-size:30px">Others</b></h5>
											<div class="card-font3 card-text">
												Teamwork <br />
												Agile development <br />
												Software testing <br />
												Algorithm <br />
												Data Structure <br />
												Critical Thinking <br />
												Public Speaking <br />
												Problem Solving <br />
												Troubleshooting <br />
												Respectful <br />
												Documentations <br/>
												Leadership <br/>
												Time management <br/>
											</div>									
										</div>
									</div>
								<!--MOBILE-->
								<div class="mobile col-md-6">
									<div class="card-body" style="text-align: center">
										<h5 class="card-title"><b style="font-size:30px">Others</b></h5>
										<div class="card-text" style="font-size: 19.5px">
											<div class="row">
												<div class="col card-font3">
													Teamwork <br />
													Agile development <br />
													Software testing <br />
													Algorithm <br />
													Data Structure <br />
													Critical Thinking <br />
													Public Speaking <br />
												</div>
												<div class="col card-font3">
														Problem Solving <br />
														Troubleshooting <br />
														Respectful <br />
														Documentations <br/>
														Leadership <br/>
														Time management <br/>
												</div>
											</div>										
										</div>									
									</div>
								</div>	
								<!--MOBILE-->							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Third Parallax page-->
		<div id="thirdparallax" style="text-align: center; ">
			<div id="title3">
				<div class="desktop">
					<h1 class="ml6" style="text-align: center;">
						<span class="text-wrapper">
							<span class="letters">
								<p>Being punctual is late</p>								
							</span>
							<br/>
							<span class="letters">								
								<p>being early is punctual</p>
							</span>
						</span>
					</h1>
				</div>
				<div class="mobile">
						<h1 class="ml6" style="text-align: center;">
							<span class="text-wrapper">
								<span class="letters">
									<p>Being punctual is late</p>									
								</span>
								<br/>
								<span class="letters">								
									<p>being early is punctual</p>
								</span>
							</span>
						</h1>
					</div>
			</div>
		</div>

		<!-- portfolio page-->
		<div id="portfolio">
			<!--DESKTOP-->
			<div class="desktop" id="page3">
				<div class="container">
					<h1 id="portfolioTitle">Projects</h1>					
						<div class="row">							
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
					
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
						</div>
				</div>							
			</div>
			<!--MOBILE-->
			<div class="mobile"id="page3">
				<div class="container">
					<h1 id="portfolioTitle">Projects</h1>						
						<div class="row">							
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
					
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
								{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
								class="card-img-top" text="Thumbnail" %}
								<div class="card-body">
									<p class="card-text">
									This is a wider card with supporting text below as a natural lead-in to additional content. This
									content is a little bit longer.
									</p>
									<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
									</div>
								</div>
								</div>
							</div>
						</div>
				
				</div>
			</div>
			<div id="contact" class="footer"><h2>You can also contact me at</h2></div>
		</div>
	</body>
</html>
