html,
body {
	/* height: 1000px; */
	margin: 0;
	padding: 0;
}

body {
	background-color: red;
}

.logo {
	width: 100px;
	height: 50px;
}

#firstparallax {
	/* The image used */
	background-image: url("../assets/jumpout.JPG");

	/* Set a specific height */
	height: 1000px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#secondparallax {
	/* The image used */
	background-image: url("../assets/skydive.JPG");

	/* Set a specific height */
	height: 1000px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#thirdparallax {
	/* The image used */
	background-image: url("../assets/landing.JPG");

	/* Set a specific height */
	height: 1000px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#page {
	/* position: relative; */
	background-color: red;
	font-size: 20px;
	height: 1000px;
}

/*Cloud animation*/
.cloud {
	height: 100%;
	filter: brightness(120%);
	filter: opacity(60%);
	/* position: absolute; */
	background-image: url("../assets/cloud.png");
	background-size: cover;
	/* background-attachment: fixed; */
	animation: animate 50s linear infinite;
	-ms-animation: animate 50s linear infinite;
	-moz-animation: animate 50s linear infinite;
	-webkit-animation: animate 50s linear infinite;
}

@keyframes animate {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 5472px 0px;
	} /* set this to the height of the image */
}
@-webkit-keyframes animate {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 5472px 0px;
	} /* set this to the height of the image */
}
@-ms-keyframes animate {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 5472px 0px;
	} /* set this to the height of the image */
}
@-moz-keyframes animate {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 5472px 0px;
	} /* set this to the height of the image */
}

/*fade in animation*/
.fadein {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 1s;
}

.fadein2 {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 2s;
}

.fadein3 {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 3s;
}

.fadein4 {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 4s;
}

.fadein5 {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 5s;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*Navbar*/
.navfont {
	font-size: 18px;
	margin-left: 10px;
	color: white;
}

.navbar {
	position: fixed;
	background: transparent !important;
}
